<!-- 빌드 : ctrl + F9 -->
<!DOCTYPE html>
<!-- 타임리프 스키마를 사용 (타임리프가 제공하는 프로퍼티 사용) -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!DOCTYPE html>
<!-- 타임리프 스키마를 사용 (타임리프가 제공하는 프로퍼티 사용) -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>스터디할래</h2>
        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>

<!-- JavaScript Bundle with Popper -->
<!-- 자바스크립트는 로딩할 때 시간이 걸릴 수 있어서 헤더에 넣으면 로딩하느라 끊겨서 렌더링이 늦어진다. 그러므로 렌더링 다 한 후에 바디에서 자바스크립트를 로딩하게 끔 한다 -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script type="application/javascript">
    (function () {

    }())
</script>
</body>
</html>