<!-- 빌드 : ctrl + F9 -->
<!DOCTYPE html>
<!-- 타임리프 스키마를 사용 (타임리프가 제공하는 프로퍼티 사용) -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
        스터디할래 가입을 완료하려면 <a th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>StudyHalle</h2>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>
</html>